/* PRODUCT CONTAINER*/
.product-container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 20%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative; 

}

.product-container:hover .product-details {
    display: flex;
}

.product-details {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    display: none;
    flex-direction: column;

}

.product-details h1 {
    font-size: 16px;
    font-weight: 300;

}

.product-details h2 {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;

}

.product-details p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 80%;

}

.action-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn img{
    margin:auto;
    width: 18px;
    height: 18px;
}
 

.action-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    /* transform: translateY(-1px); */
}


@media only screen and (max-width: 768px) {

 
 



}