/* Section header */

.section-title {
    font-size: 40px;
    margin: 50px auto 20px; 
    text-align: center;
}


/* Section - each container --------------- */

.section-item-small {
    border: 1px solid #fff;
    width: 300px;
    height: 400px;
}

.section-item-big {
    border: 1px solid #fff;
    width: 600px;
    height: 800px;
}

.section-item-slider { 
    width: 1200px;
    height: 600px;
}

.section-item-parallax {
    border: 1px solid #fff;
    width: 1200px;
    height: 400px;
} 




@media only screen and (max-width: 768px) {
    .section-item-small { 
        width: 50vw; 
    }
    
    .section-item-big { 
        width: 100vw; 
    }
    
    .section-item-slider { 
        width: 100vw; 
    }
    
    .section-item-parallax { 
        width: 100vw; 
    } 
}

/* Small container --------------------------------- */

.section-container-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group-of-four{   
    flex-direction: column;
    flex-wrap: wrap; 
}

.group-of-four > div{ 
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
     
    
    .group-of-four > div{ 
       
        flex-wrap: wrap; 
    }
}


/* Medium container --------------------------------- */

.section-container-medium {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.group-of-three{    
    flex-direction: column;
    flex-wrap: wrap; 
}

.group-of-three > div { 
    display: flex;
    flex-direction: row;
}
 

/* Large container --------------------------------- */

.section-container-large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group-of-five { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.group-of-five div:nth-of-type(1),
.group-of-five div:nth-of-type(3)  {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap; 
}

@media only screen and (max-width: 768px) {
     
    .group-of-five div:nth-of-type(1),
    .group-of-five div:nth-of-type(3)  {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap; 
    }

}