/* Product Slideshow */

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

.product-container-slideshow {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;
  border: 1px solid #fff;
}

.product-container-slideshow:hover .product-details-slideshow {
  display: flex;
}

.product-details-slideshow {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  display: none;
  flex-direction: column;
  width: 300px;
  height: 100%;



}

.product-details-slideshow h1 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 20px;

}

.product-details-slideshow h2 {
  font-size: 18px;
  margin: 5px 0;
  font-weight: bold;
  margin-bottom: 30px;

}

.product-details-slideshow p {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 90%;
  line-height: 20px;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  left: 65px;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.prev {

  top: 10px;
}

.next {
  bottom: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.row {
  display: flex;
  position: absolute;
  top: 45px;
  left: 0;
  height: auto;
  flex-direction: column;

}

/* Six columns side by side */
.column {
  width: 150px;
  height: 150px;
  display: flex;
  margin: 10px 20px;
  background-color: #fff;
  border: 1px solid #fff;

}

.column img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  object-position: center;

}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}




/* Mobile version ----------------------------------------------------- */
@media only screen and (max-width: 600px) {

  
/* Next & previous buttons */
.prev,
.next { 
  left: 35px; 
}

.prev {

  top: 210px;
}

.next {
  bottom: 10px;
}
  

  .row { 
    bottom: 45px;
    top: auto;
    left: 0; 
    flex-direction: column;

  }

  
  .column {
    width: 80px;
    height: 80px;
    margin: 10px 20px;

  }


}