* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#catalogue {
    width: 1200px;
    margin: 0 auto;
}

/* INTRO BANNER SECTION--------------- */
.intro-img {
    height: 600px;
    width: 100%;
    display: flex;
}

.intro-img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* TEXT ELEMENTS SECTION-----------------*/
.text-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.text-element h1 {
    font-size: 40px;
    margin: 20px 0;
}

.text-element h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.text-element h3 {
    font-size: 16px;
}

/* PRODUCT CONTAINER-----------------*/
.product-container {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
}

.product-container:hover .product-details {
    display: flex;
}

.product-details {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    display: none;
    flex-direction: column;

}

.product-details h1 {
    font-size: 16px;
    font-weight: 300;

}

.product-details h2 {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;

}

.product-details p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 80%;

}

.action-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn::before {
    content: "+";
    color: #fff;
    font-size: 30px;
    font-weight: bold;

}

.action-btn:hover {
    cursor: pointer;
    /* transform: scale(1.05); */
    transform: translateY(-1px);
}

/* POP-UP -------------------------------------*/
.popup {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 500px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); 
}

.slider-wrapper {
    position: relative;
}

.images {
    width: 450px;
    height: 100%;
}

.left {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 10;
}

.right {

    position: absolute;
    top: 50%;
    right: 15px;
    margin: auto auto 10px auto;
}

.left:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.right:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.popup-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    position: relative;

}

.popup-details-wrapper h1 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
}

.popup-details-wrapper h2 {
    font-size: 16px;
    margin-bottom: 30px;
}

.popup-details-wrapper p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
}

.popup-details-wrapper select {
    height: 40px;
    width: 100%;
    font-size: 12px;
    color: #a3a3a3;
    border: 1px solid #a3a3a3;
    border-radius: 20px;
    padding: 0 10px;
    outline: none;
}

.popup-details-wrapper select:hover{
    cursor: pointer;
}

.popup-details-wrapper select option {
    color: #000;
    padding: 0 10px;
    font-size: 12px;
}

.popup-cart-btn{
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 12px;
    margin: auto auto 15px;
}

.popup-details-wrapper a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin: 0 auto;

}

.popup-close-btn {
    border: none;
    background: none;
    color: #a3a3a3;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 10px;
}

.popup-close-btn:hover {
cursor: pointer; 
}

/* Parallax -------------- */

.parallax-window {
    min-height: 400px;
    background: transparent;
}